# <center> **Weather Report Forecasting Analysis** </center>


## <center> *Module 1: Pre-processing, Analysing Data using Python* </center>

# Introduction: 

Weather prediction is one of the most certainly required information in all over the regions. It involves collecting global meteorological surface and upper-air observations, preparing global surface and upper air pressure, temperature, moisture, and wind analyses at frequent time intervals based upon these observations we predict some data for upcoming days weather conditions.

In [1]:
![download.gif](https://gifdb.com/images/file/it-s-raining-sideways-family-guy-weather-forecasting-tmz3u3f3xjyj2s1s.gif)

'[download.gif]' is not recognized as an internal or external command,
operable program or batch file.

# Tools used for Module 1:
* Python
* SQL
* Microsoft Excel

In [1]:
#Import relevant libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('E:\\Python\\Wether Forcasting Project\\weather_dataset_stage1.xls',sheet_name='Sheet1',parse_dates=['Date'])

In [3]:
df.head()

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Date1,Month,diff_pressure
0,2022-01-01,'37.8','35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'4.0','27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037'
1,2022-01-02 00:00:00,'43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'4.0','16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998'
2,2022-01-03 00:00:00,'25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'8.0','35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978'
3,2022-01-04 00:00:00,'9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'7.0','35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864'
4,2022-01-05 00:00:00,'23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'5.0','13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991'

In [4]:
df.shape

(3903, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3903 non-null   object
 1    Temperature              3903 non-null   object
 2    AVG_Humidity (%)         3903 non-null   object
 3    AVG Dewpoint (°F)        3903 non-null   object
 4    AVG_Barometer (in)       3903 non-null   object
 5    AVG_windspeed (mph)      3903 non-null   object
 6    AVG_gustspeed (mph)      3903 non-null   object
 7    AVG_Direction (°deg)     3903 non-null   object
 8    Rainfall for month (in)  3903 non-null   object
 9   Rainfall for year (in)    3903 non-null   object
 10   Max_rain per minute      3903 non-null   object
 11   Max_temperature (°F)     3903 non-null   object
 12   Min_temperature (°F)     3903 non-null   object
 13   Max_humidity (%)         3903 non-null   object
 14   Min_humidity (%)         3903 non-null   object
 15   Max_pressure             3903 non-null   object
 16   Min_pressure             3903 non-null   object
 17   Max_ windspeed (mph)     3903 non-null   object
 18   Max_gust_speed (mph)     3903 non-null   object
 19   Max_heat index (°F)      3903 non-null   object
 20  Date1                     3903 non-null   object
 21   Month                    3903 non-null   object
 22   diff_pressure            3903 non-null   object
dtypes: object(23)
memory usage: 701.4+ KB

In [6]:
# Checking for the leap month date
df[df['Date']=='2022-02-29']

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Date1,Month,diff_pressure
3902,2022-02-29,'38.1','36.0','12.3','29.8','11.5','17.0','77.0','0.16','0.36',...,'73.0','22.0','30.023','29.702','29.9','39.1','45.9','2022-02-29','02','0.32099999999999795'

In [7]:
# We want to delete a date - 2022-02-29 because 2022 is not a leap year
df.drop(df.index[df['Date']== '2022-02-29'],axis=0,inplace=True)

In [8]:
df.shape

(3902, 23)

In [9]:
# 1st change the data type of date column

df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3902 entries, 0 to 3901
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3902 non-null   datetime64[ns]
 1    Temperature              3902 non-null   object
 2    AVG_Humidity (%)         3902 non-null   object
 3    AVG Dewpoint (°F)        3902 non-null   object
 4    AVG_Barometer (in)       3902 non-null   object
 5    AVG_windspeed (mph)      3902 non-null   object
 6    AVG_gustspeed (mph)      3902 non-null   object
 7    AVG_Direction (°deg)     3902 non-null   object
 8    Rainfall for month (in)  3902 non-null   object
 9   Rainfall for year (in)    3902 non-null   object
 10   Max_rain per minute      3902 non-null   object
 11   Max_temperature (°F)     3902 non-null   object
 12   Min_temperature (°F)     3902 non-null   object
 13   Max_humidity (%)         3902 non-null   object
 14   Min_humidity (%)         3902 non-null   object
 15   Max_pressure             3902 non-null   object
 16   Min_pressure             3902 non-null   object
 17   Max_ windspeed (mph)     3902 non-null   object
 18   Max_gust_speed (mph)     3902 non-null   object
 19   Max_heat index (°F)      3902 non-null   object
 20  Date1                     3902 non-null   object
 21   Month                    3902 non-null   object
 22   diff_pressure            3902 non-null   object
dtypes: datetime64[ns](1), object(22)
memory usage: 701.3+ KB

In [11]:
df.sample(4)

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Date1,Month,diff_pressure
1159,2025-09-03,'60.4','44.0','35.7','29.8','5.2','7.8','242.0','0.0','7.83',...,'75.0','17.0','30.015','29.77','26.5','35.7','79.1','2022-09-03','09','0.245000000000001'
2364,2029-02-27,'46.7','22.0','9.5','29.7','12.0','17.6','65.0','0.16','0.36',...,'51.0','15.0','29.898','29.549','26.5','36.8','56.3','2022-02-27','02','0.3490000000000002'
2080,2028-05-19,'35.7','91.0','33.2','30.1','1.2','2.3','55.0','1.19','4.71',...,'93.0','87.0','30.122','29.969','10.4','16.1','40.5','2022-05-19','05','0.1529999999999987'
1643,2027-02-14,'37.1','38.0','12.8','29.8','12.8','20.3','257.0','0.3','0.68',...,'61.0','14.0','29.99','29.705','28.8','42.6','43.2','2022-02-14','02','0.28500000000000014'

In [12]:
# Now Check for the duplicate values.
df.duplicated().sum()

0

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

0

In [78]:
#import datetime
#df['Date'] = df['Date'].apply(map(lambda x:datetime.datetime.strptime(x[0:9],'%Y-%m-%d'),df['Date']))

In [15]:
df[' Temperature']   #Here one space is available at the start of column name.

0       '37.8'
1       '43.2'
2       '25.7'
3        '9.3'
4       '23.5'
         ...
3897    '62.8'
3898    '60.6'
3899    '61.7'
3900    '60.5'
3901    '60.5'
Name:  Temperature, Length: 3902, dtype: object

In [16]:
# We wants to remove unwanted spaces from column names
[x for x in df.columns if x.startswith(' ') or x.endswith(' ')]

[' Temperature',
 ' AVG_Humidity (%)',
 ' AVG Dewpoint (°F)',
 ' AVG_Barometer (in)',
 ' AVG_windspeed (mph)',
 ' AVG_gustspeed (mph)',
 ' AVG_Direction (°deg)',
 ' Rainfall for month (in)',
 ' Max_rain per minute',
 ' Max_temperature (°F)',
 ' Min_temperature (°F)',
 ' Max_humidity (%)',
 ' Min_humidity (%)',
 ' Max_pressure',
 ' Min_pressure',
 ' Max_ windspeed (mph)',
 ' Max_gust_speed (mph)',
 ' Max_heat index (°F)',
 ' Month',
 ' diff_pressure']

In [17]:
df.columns = df.columns.str.strip()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3902 entries, 0 to 3901
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     3902 non-null   datetime64[ns]
 1   Temperature              3902 non-null   object
 2   AVG_Humidity (%)         3902 non-null   object
 3   AVG Dewpoint (°F)        3902 non-null   object
 4   AVG_Barometer (in)       3902 non-null   object
 5   AVG_windspeed (mph)      3902 non-null   object
 6   AVG_gustspeed (mph)      3902 non-null   object
 7   AVG_Direction (°deg)     3902 non-null   object
 8   Rainfall for month (in)  3902 non-null   object
 9   Rainfall for year (in)   3902 non-null   object
 10  Max_rain per minute      3902 non-null   object
 11  Max_temperature (°F)     3902 non-null   object
 12  Min_temperature (°F)     3902 non-null   object
 13  Max_humidity (%)         3902 non-null   object
 14  Min_humidity (%)         3902 non-null   object
 15  Max_pressure             3902 non-null   object
 16  Min_pressure             3902 non-null   object
 17  Max_ windspeed (mph)     3902 non-null   object
 18  Max_gust_speed (mph)     3902 non-null   object
 19  Max_heat index (°F)      3902 non-null   object
 20  Date1                    3902 non-null   object
 21  Month                    3902 non-null   object
 22  diff_pressure            3902 non-null   object
dtypes: datetime64[ns](1), object(22)
memory usage: 731.6+ KB

In [19]:
df.tail()

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Date1,Month,diff_pressure
3897,2033-05-10,'62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'90.0','36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923'
3898,2033-05-11,'60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'90.0','40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872'
3899,2033-05-12,'61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'96.0','35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014'
3900,2033-05-13,'60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';
3901,2033-05-14,'60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';

In [20]:
df['Temperature'].apply(str).str.replace('"', '')

0       '37.8'
1       '43.2'
2       '25.7'
3        '9.3'
4       '23.5'
         ...
3897    '62.8'
3898    '60.6'
3899    '61.7'
3900    '60.5'
3901    '60.5'
Name: Temperature, Length: 3902, dtype: object

In [21]:
df['Temperature'].str.replace(r"[\',]",'')

C:\Users\intel\AppData\Local\Temp\ipykernel_10344\1737091785.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Temperature'].str.replace(r"[\',]",'')

0       37.8
1       43.2
2       25.7
3        9.3
4       23.5
        ...
3897    62.8
3898    60.6
3899    61.7
3900    60.5
3901    60.5
Name: Temperature, Length: 3902, dtype: object

In [22]:
#We need to remove single quots
df = df.replace({'\'': ''}, regex=True)

In [23]:
df.head()

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Date1,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991

In [24]:
# Here 2 columns of same dates are present. Lets check the similarity of both.
df['Date'].value_counts().sum(),df['Date1'].value_counts().sum()

(3902, 3902)

In [25]:
df['Date'].nunique(),df['Date1'].nunique()

(3902, 366)

In [26]:
# Date & Date 1 are the same column so we drop one
df.drop('Date1',axis=1,inplace=True)

In [27]:
df.head(2)

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Min_temperature (°F),Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,01,0.4009999999999998

In [28]:
df.tail(2)

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Min_temperature (°F),Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Month,diff_pressure
3900,2033-05-13,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088;
3901,2033-05-14,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088;

In [29]:
#We remove unwanted signs
df = df.replace({'\;': ''}, regex=True)

In [30]:
df.tail(2)

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Min_temperature (°F),Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Month,diff_pressure
3900,2033-05-13,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088
3901,2033-05-14,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088

In [117]:
#Now Changing the data types of all columns

In [31]:
df.dtypes

Date                       datetime64[ns]
Temperature                        object
AVG_Humidity (%)                   object
AVG Dewpoint (°F)                  object
AVG_Barometer (in)                 object
AVG_windspeed (mph)                object
AVG_gustspeed (mph)                object
AVG_Direction (°deg)               object
Rainfall for month (in)            object
Rainfall for year (in)             object
Max_rain per minute                object
Max_temperature (°F)               object
Min_temperature (°F)               object
Max_humidity (%)                   object
Min_humidity (%)                   object
Max_pressure                       object
Min_pressure                       object
Max_ windspeed (mph)               object
Max_gust_speed (mph)               object
Max_heat index (°F)                object
Month                              object
diff_pressure                      object
dtype: object

In [32]:
cols = df.columns.drop('Date')

In [33]:
cols

Index(['Temperature', 'AVG_Humidity (%)', 'AVG Dewpoint (°F)',
       'AVG_Barometer (in)', 'AVG_windspeed (mph)', 'AVG_gustspeed (mph)',
       'AVG_Direction (°deg)', 'Rainfall for month (in)',
       'Rainfall for year (in)', 'Max_rain per minute', 'Max_temperature (°F)',
       'Min_temperature (°F)', 'Max_humidity (%)', 'Min_humidity (%)',
       'Max_pressure', 'Min_pressure', 'Max_ windspeed (mph)',
       'Max_gust_speed (mph)', 'Max_heat index (°F)', 'Month',
       'diff_pressure'],
      dtype='object')

In [34]:
# We convert the datatypes into float and integer
df[cols] = df[cols].apply(pd.to_numeric)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3902 entries, 0 to 3901
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     3902 non-null   datetime64[ns]
 1   Temperature              3902 non-null   float64
 2   AVG_Humidity (%)         3902 non-null   float64
 3   AVG Dewpoint (°F)        3902 non-null   float64
 4   AVG_Barometer (in)       3902 non-null   float64
 5   AVG_windspeed (mph)      3902 non-null   float64
 6   AVG_gustspeed (mph)      3902 non-null   float64
 7   AVG_Direction (°deg)     3902 non-null   float64
 8   Rainfall for month (in)  3902 non-null   float64
 9   Rainfall for year (in)   3902 non-null   float64
 10  Max_rain per minute      3902 non-null   float64
 11  Max_temperature (°F)     3902 non-null   float64
 12  Min_temperature (°F)     3902 non-null   float64
 13  Max_humidity (%)         3902 non-null   float64
 14  Min_humidity (%)         3902 non-null   float64
 15  Max_pressure             3902 non-null   float64
 16  Min_pressure             3902 non-null   float64
 17  Max_ windspeed (mph)     3902 non-null   float64
 18  Max_gust_speed (mph)     3902 non-null   float64
 19  Max_heat index (°F)      3902 non-null   float64
 20  Month                    3902 non-null   int64
 21  diff_pressure            3902 non-null   float64
dtypes: datetime64[ns](1), float64(20), int64(1)
memory usage: 701.1 KB

In [36]:
# Now we have to fix the labels
pd.set_option('display.max_columns',None)

In [37]:
df.head()

,Date,Temperature,AVG_Humidity (%),AVG Dewpoint (°F),AVG_Barometer (in),AVG_windspeed (mph),AVG_gustspeed (mph),AVG_Direction (°deg),Rainfall for month (in),Rainfall for year (in),Max_rain per minute,Max_temperature (°F),Min_temperature (°F),Max_humidity (%),Min_humidity (%),Max_pressure,Min_pressure,Max_ windspeed (mph),Max_gust_speed (mph),Max_heat index (°F),Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,0.0,40.0,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,1,0.166
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,0.0,52.0,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,1,0.401
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,0.0,41.0,6.0,8.0,35.0,30.232,29.260,25.3,38.0,41.0,1,0.972
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,0.0,19.0,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,1,0.339
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,0.0,30.0,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,1,0.665

In [38]:
df['Rainfall for year (in)'].nunique()

799

In [39]:
df['Max_rain per minute'].nunique()    # It contains all 0 values so we drop this column

1

In [40]:
df['Month'].unique()   # We have allready date column with month and year so this will also drop

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [41]:
df.drop(['Max_rain per minute','Month'],axis=1,inplace=True)

In [42]:
df.shape

(3902, 20)

In [50]:
#Save the file in csv format
df.to_csv('Final_df.csv',index=False,encoding='utf-8')